Web/Service References/Service.RC.FactElect/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerArchivo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerArchivo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="En_SalidaArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContenidoArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="En_SalidaArchivo" nillable="true" type="tns:En_SalidaArchivo" />
</xs:schema>