Web/Service References/Service.RC.FactElect/Service164.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.quypay.com/FactElectTest/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.RegistroComprobante" />
  <xs:import schemaLocation="https://www.quypay.com/FactElectTest/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerArchivo" />
  <xs:import schemaLocation="https://www.quypay.com/FactElectTest/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ListarComprobanteElectronicos" />
  <xs:element name="RegistroComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.RegistroComprobante" minOccurs="0" name="Comprobante" nillable="true" type="q1:En_ComprobanteElectronico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.RegistroComprobante" minOccurs="0" name="RegistroComprobanteResult" nillable="true" type="q2:En_Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRepresentacionImpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idComprobante" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRepresentacionImpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerArchivo" minOccurs="0" name="ObtenerRepresentacionImpresaResult" nillable="true" type="q3:En_SalidaArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentoComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idComprobante" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentoComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerArchivo" minOccurs="0" name="ObtenerDocumentoComprobanteResult" nillable="true" type="q4:En_SalidaArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRespuestaComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idComprobante" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRespuestaComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerArchivo" minOccurs="0" name="ObtenerRespuestaComprobanteResult" nillable="true" type="q5:En_SalidaArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarComprobanteElectronicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ListarComprobanteElectronicos" minOccurs="0" name="entrada" nillable="true" type="q6:En_EntradaListarComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarComprobanteElectronicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ListarComprobanteElectronicos" minOccurs="0" name="ListarComprobanteElectronicosResult" nillable="true" type="q7:ArrayOfEn_SalidaListarComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>