Web/Service References/Service.RC.FactElect/Service110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ListarComprobanteElectronicos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ListarComprobanteElectronicos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="En_EntradaListarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoIdentidadEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoIdentidadReceptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="En_EntradaListarComprobante" nillable="true" type="tns:En_EntradaListarComprobante" />
  <xs:complexType name="ArrayOfEn_SalidaListarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="En_SalidaListarComprobante" nillable="true" type="tns:En_SalidaListarComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEn_SalidaListarComprobante" nillable="true" type="tns:ArrayOfEn_SalidaListarComprobante" />
  <xs:complexType name="En_SalidaListarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComprobanteReferenciado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEmision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdComprobante" type="xs:long" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerieNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrecioVenta" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="En_SalidaListarComprobante" nillable="true" type="tns:En_SalidaListarComprobante" />
</xs:schema>