Web/Service References/Service.RC.FactElect/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerRepresentacionImpresa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FactElec.CapaEntidad.ObtenerRepresentacionImpresa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="En_EntradaObtenerRI">
    <xs:sequence>
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="En_EntradaObtenerRI" nillable="true" type="tns:En_EntradaObtenerRI" />
  <xs:complexType name="En_SalidaObtenerRI">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContenidoArchivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="En_SalidaObtenerRI" nillable="true" type="tns:En_SalidaObtenerRI" />
</xs:schema>